{% extends 'base.html' %}

{% block title %}PhoneBuddy - addSmartphone {% endblock %}

{% block main %}

<div class="m-auto py-5" style="min-width: 500px;">
    <form action="/addSmartphone" method="POST">
        <div>
            <h2 class="text-center fw-bold fs-1 mb-4 p-0 m-0">PhoneBuddy</h2>

            <h3 class="text-center fw-light mb-4">Add Smartphone</h3>

            <div class="form-floating mb-4">
                <label for="brand">Brand</label>
                <input id="brand" name="brand" class="form-control" type="text" placeholder="Brand" />
                {% if form.brand.errors %}
                    <ul class="errors text-danger">
                    {% for error in form.brand.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-floating mb-4">
                <label for="model">Model</label>
                <input id="model" name="model" class="form-control" type="text" placeholder="Model" />
                {% if form.model.errors %}
                    <ul class="errors text-danger">
                    {% for error in form.model.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-floating mb-4">
                <label for="processor">Processor</label>
                <input id="processor" name="processor" class="form-control" type="text" placeholder="Processor" />
                {% if form.processor.errors %}
                    <ul class="errors text-danger">
                    {% for error in form.processor.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-floating mb-4">
                <label for="ram">Ram</label>
                <input id="ram" name="ram" class="form-control" type="text" placeholder="Ram" />
                {% if form.ram.errors %}
                    <ul class="errors text-danger">
                    {% for error in form.ram.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-floating mb-4">
                <label for="colour">Colour</label>
                <input id="colour" name="colour" class="form-control" type="text" placeholder="Colour" />
                {% if form.colour.errors %}
                    <ul class="errors text-danger">
                    {% for error in form.colour.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-floating mb-4">
                <label for="battery">Battery</label>
                <input id="battery" name="battery" class="form-control" type="text" placeholder="Battery" />
                {% if form.battery.errors %}
                    <ul class="errors text-danger">
                    {% for error in form.battery.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-floating mb-4">
                <label for="lowprice">Low Price</label>
                <input id="lowprice" name="lowprice" class="form-control" type="text" placeholder="Low Price" />
                {% if form.lowprice.errors %}
                    <ul class="errors text-danger">
                    {% for error in form.lowprice.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-floating mb-4">
                <label for="highprice">High Price</label>
                <input id="highprice" name="highprice" class="form-control" type="text" placeholder="High Price" />
                {% if form.highprice.errors %}
                    <ul class="errors text-danger">
                    {% for error in form.highprice.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-floating mb-4">
                <label for="screenSize">Screen Size</label>
                <input id="screenSize" name="screenSize" class="form-control" type="text" placeholder="Screen Size" />
                {% if form.screenSize.errors %}
                    <ul class="errors text-danger">
                    {% for error in form.screenSize.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-floating mb-4">
                <label for="refreshRate">Refresh Rate</label>
                <input id="refreshRate" name="refreshRate" class="form-control" type="text" placeholder="Refresh Rate" />
                {% if form.refreshRate.errors %}
                    <ul class="errors text-danger">
                    {% for error in form.refreshRate.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-floating mb-4">
                <label for="description">Description</label>
                <textarea id="description" rows="4" cols="50" name="description" class="form-control" type="text" placeholder="Description"></textarea>
                {% if form.description.errors %}
                    <ul class="errors text-danger">
                    {% for error in form.description.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-floating mb-4">
                <label for="image_URL">Smartphone image:</label>
                <input type="file" id="image_URL" name="image_URL" accept="image/*">
            </div>

            
            <div class="input-group justify-content-between">
                <div class="form-floating mb-4" style="min-width: 230px;">
                    <button type="reset" class="btn btn-dark d-block w-100 py-3 mb-4" href="##" onclick="javascript:history.go(-1)">Cancel</button>
                    
                </div>
            
                <div class="form-floating mb-4" style="min-width: 230px;">
                <button type="submit" class="btn btn-dark d-block w-100 py-3 mb-4">Add</button>
                </div>
                
            </div>

        </div>
    </form>

</div>

{% endblock %}
