{% extends 'base.html' %}

{% block title %}Homepage {% endblock %}

{% block main %}
<style>
    /*Customized Content*/
    body *{
        transition-duration: 0.3s;
    }
    .first-ban, .sec-ban{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
    }
    .first-ban{
        height: 700px;
        background-image: url('static/banner-1-pic.jpg');
        
    }
    .first-ban *, .sec-ban *{
        display:inline-block;
    }
    .first-ban div{
        width: 300px;
        position: relative;
        left:100px;
        top: 280px;
    }
    .first-ban h3{
        color: rgb(245, 248, 248);
        font-weight: 600;
        letter-spacing: 1.2px;
    }
    .first-ban p, .sec-ban p{
        letter-spacing: 1.5px;
        margin-bottom:10px;
        font-family: arial;
    }
    .first-ban a, .sec-ban a{
        color: rgb(245, 248, 248);
        border: 2px solid lightgray;
        font-size:20px;
        padding:10px 35px;
        background-color:rgba(225,225,225,0.4);
        margin-top:10px;
        border-radius: 25px;
    }
    .first-ban a:hover, .sec-ban a:hover{
        border: 3px solid lightgray;
        box-shadow: 0px 0px 10px white;
        text-shadow: 0px 0px 5px lightgray;
        font-size:22px;
        padding:12px 40px;
        background-color:rgba(225,225,225,0.1);
        text-decoration:none;
        color:white;
    }
    .sec-ban{
        height: 700px;
        background-image: url('static/banner-3-pic.jpg');
        
    }
    .sec-ban div{
        position:relative;
        right:0px;
        top: 200px;
        padding: 0px;
        width: 400px;
        text-align: right;
    }
    .sec-ban h3{
        color: rgb(245, 248, 248);
        font-weight: 600;
        letter-spacing: 1.2px;
    }
    .third-ban > *{
        padding:0px;
    }
    .third-ban-desc{
        text-align: center;
    }
    .third-ban-desc div{
        display:inline-block;
        position: relative;
        margin: 50% 0;
        text-align: center;
    }
    .third-ban-desc h3{
        letter-spacing: 0.5px;
        font-weight:600;
        font-size:35px;
    }
    .third-ban-desc h5{
        letter-spacing: 1.5px;
    }
    .third-ban-desc a{
        color: rgb(245, 248, 248);
        display: inline-block;
        padding: 12px 20px;
        background-color: black;
        border-radius: 25px;
        margin: 10px;
    }
    .third-ban-desc a:hover{
        background-color: white;
        color:black;
        text-decoration: none;
        box-shadow: 0px 0px 4px 2px gray;
    }

</style>

<div class="cont-sec">
    <!--1st Banner-->
    <div class="first-ban">
        <div>
            <h3>iPhone14Pro</h3> 
            <a href="/smartphone">Explore</a>
        </div>
    </div>

    <!--2nd Banner-->
    <div class="sec-ban">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-3">
            <div>
                <h3>Samsung Galaxy Fold 4</h3>
                
                <a href="/smartphone">Explore</a>
            </div>
        </div>
    </div>

    <!--You may interested-->
    {% if session.loggedin == true %}
    <div class="mx-5 mt-3 ">
        <h3 class="fw-light mb-3">You may interested...</h3>
        <hr>
        <div class="row row-cols-3">
            {% for smartphone in smartphones %}
            <div class="col mb-5 ">
                <div class="card " style="width: 23rem;">
                    <a href="{{ url_for('smartphonedetail', id=smartphone['id']) }}">
                        <img src="{{ url_for('static',filename = smartphone['image_URL']) }}" class="card-img-top" style="height: 250px;">
                    </a>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <a href="{{ url_for('smartphonedetail', id=smartphone['id']) }}">
                                <h6 class="card-title">{{ smartphone['model'] }}</h6>
                            </a>
                        </div>
                        <div class="mt-5 d-flex justify-content-between">
                            <p class="text-muted">{{ smartphone['brand'] }}</p>
                            <p>RM{{ smartphone['lowprice'] }} - {{ smartphone['highprice'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--3rd banner-->
    
    <div class="third-ban-desc text-center my-5">
        <h3>NON-STOP</h3>
        <h3 style="margin-bottom: 25px;">Learning</h3>
        <h5>Curious About Smartphone ?</h5>
        <h5>Want To Know What Your Ideal Phone?</h5>
        <h5>Get Your Answers Here.</h5>
        <a href="#">Learn More</a>
    </div>
    
</div>

<style>
.rightbtm{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}
</style>

{% with LoggedIn = get_flashed_messages(category_filter=["LoggedIn"]) %}
{% if LoggedIn %}
    {%- for msg in LoggedIn %}
    <div class="position-relative">
        <div class="rightbtm flash" >
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h4>Login Successfully!</h4>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <p>{{ msg }}</p>
            </div>
        </div>
    </div>
    {% endfor -%}
{% endif %}
{% endwith %}


{% with loggedout = get_flashed_messages(category_filter=["loggedout"]) %}
{% if loggedout %}
    {%- for msg in loggedout %}
    <div class="position-relative">
        <div class="rightbtm flash">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h4>Logged Out Successfully!</h4>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <p>{{ msg }}</p>
            </div>
        </div>
    </div>
    {% endfor -%}
{% endif %}
{% endwith %}

{% with NoPermission = get_flashed_messages(category_filter=["InvalidPermission"]) %}
{% if NoPermission %}
    {%- for msg in NoPermission %}
    <div class="position-relative">
        <div class="rightbtm flash">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h4>Unauthorised Access!!</h4>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <p>{{ msg }}</p>
            </div>
        </div>
    </div>
    {% endfor -%}
{% endif %}
{% endwith %}

<script>
    $(function() {
        $('.flash').delay(500).show(function() {
            $(this).delay(2500).fadeOut();
        });
    });
</script>

{% endblock %}