{% extends 'base.html' %}

{% block title %}Homepage {% endblock %}

{% block main %}
    <h1>Home Page</h1>
    


<style>
.rightbtm{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}
</style>
{% with LoggedIn = get_flashed_messages(category_filter=["LoggedIn"]) %}
{% if LoggedIn %}
    {%- for msg in LoggedIn %}
    <div class="position-relative">
        <div class="rightbtm" >
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h4>Login Successfully!</h4>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <p>{{ msg }}</p>
            </div>
        </div>
    </div>
    {% endfor -%}
{% endif %}
{% endwith %}

{% with loggedout = get_flashed_messages(category_filter=["loggedout"]) %}
{% if loggedout %}
    {%- for msg in loggedout %}
    <div class="position-relative">
        <div class="rightbtm" >
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h4>Logged Out Successfully!</h4>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <p>{{ msg }}</p>
            </div>
        </div>
    </div>
    {% endfor -%}
{% endif %}
{% endwith %}


{% endblock %}