{% extends 'base.html' %}

{% block title %}Ideal Smartphone {% endblock %}

{% block main %}
<style>
    /* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
</style>
<div class="m-auto py-5" style="min-width: 500px;">
    <form action="/idealFirst" method="POST">
        <div>
            <h2 class="text-center fw-bold fs-1 mb-4 p-0 m-0">PhoneBuddy</h2>

            <h3 class="text-center fw-light mb-4">Ideal Phone</h3>

            <div class="form-floating mb-4">
                <label for="os">Operating System</label>
                <br/>
                <div class="">
                    <select id="os" style="width:500px;" name="os">
                        <option value="choose" selected>Choose Your Os</option>
                        <option value="0">iOS</option>
                        <option value="1">Android</option>
                    </select>
                </div>
            </div>

            <div class="form-floating mb-4">
                <label for="memory">Memory Size</label>
                <br/>
                <div class="">
                    <select id="memory" style="width:500px;" name="memory">
                        <option value="choose" selected>Choose Your Memory Size</option>
                        <option value="32">32</option>
                        <option value="64">64</option>
                        <option value="128">128</option>
                        <option value="256">256</option>
                        <option value="512">512</option>
                        <option value="1000">1000</option>
                    </select>
                </div>
            </div>

            <div class="form-floating mb-4">
                <label for="battery">Battery Size</label>
                <br/>
                <div class="battery text-center">2000</div>
                <input type="range" class="custom-range" min="2000" max="5500" step="100" id="customRange3" name="battery" value="2000" style="width: 100%">
            </div>

            <div class="form-floating mb-4">
                <label for="screensize">Screen Size</label>
                <br/>
                <div class="screensize text-center">4.7</div>
                <input type="range" class="custom-range" min="4.7" max="7.0" step="0.1" id="customRange4" name="screensize" value="4.7" style="width: 100%">
            </div>

            <div class="form-floating mb-4">
                <label for="price">Price</label>
                <br/>
                <div class="price text-center">100</div>
                <input type="range" class="custom-range" min="100" max="10000" step="100" id="customRange5" name="price" value="100" style="width: 100%">
            </div>

            <div class="form-floating mb-4">
                <label for="colour">Colour</label>
                <br/>
                <div class="">
                    <select id="colour" style="width:500px;" name="colour">
                        <option value="choose" selected>Choose Your Colour</option>
                        <option value="0">Black</option>
                        <option value="1">Silver</option>
                        <option value="2">Gold</option>
                        <option value="3">Purple</option>
                        <option value="4">White</option>
                        <option value="5">Blue</option>
                        <option value="6">Red</option>
                        <option value="7">Copper</option>
                        <option value="8">Green</option>
                        <option value="9">Peach</option>
                        <option value="10">Pink</option>
                        <option value="11">Grey</option>
                        <option value="12">Orange</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary d-block w-100 py-3 mt-5">Recommend</button>
        </div>
    </form>

</div>

{% with recommend = get_flashed_messages(category_filter=["recommendation"]) %}
{% if recommend %}
    {%- for msg in recommend %}
    <div class="position-relative">
        <div class="center flash" >
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <h4>Smartphone recommended !</h4>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <p>This may be your ideal phone : <strong>{{ msg }}</strong></p>
            </div>
        </div>
    </div>
    {% endfor -%}
{% endif %}
{% endwith %}

<style>
.center{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}
</style>

<script>
    $( document ).ready(function() {
        $('#customRange5').on('input', function(){
             v = $('#customRange5').val();
             console.log(v);
             $('div.price').text(v);
        });
    });

    $( document ).ready(function() {
        $('#customRange4').on('input', function(){
             v = $('#customRange4').val();
             console.log(v);
             $('div.screensize').text(v);
        });
    });

    $( document ).ready(function() {
        $('#customRange3').on('input', function(){
             v = $('#customRange3').val();
             console.log(v);
             $('div.battery').text(v);
        });
    });
</script>
{% endblock %}