

{% extends 'base.html' %}

{% block title %}PhoneBuddy - Register {% endblock %}

{% block main %}
<div class="m-auto py-5" style="min-width: 500px;">
    <form action="{{ url_for('addrec') }}" method="POST">
        <div>
            <h2 class="text-center fw-bold fs-1 mb-4 p-0 m-0">PhoneBuddy</h2>

            <h3 class="text-center fw-light mb-4">Register</h3>

            <div class="input-group justify-content-between">
                <div class="form-floating mb-4" style="min-width: 230px;">
                    <label for="firstName">First name</label>
                    <input id="firstName" name="first_name" class="form-control" placeholder="John" required/>
                </div>

                <div class="form-floating mb-4" style="min-width: 230px;">
                    <label for="lastName">Last name</label>
                    <input id="lastName" name="last_name" class="form-control" placeholder="Doe" required/>
                </div>
            </div>

            <div class="form-floating mb-4">
                <label for="email">Email address</label>
                <input id="email" name="email" class="form-control" type="email" placeholder="name@example.com" required />
            </div>

            <div class="form-floating mb-4">
                <label for="password">Password</label>
                <input id="password" name="password" class="form-control" type="Password" placeholder="Enter your password" required />
            </div>

            <div class="form-floating mb-4">
                <label for="passwordConfirmation">Confirm password</label>
                <input id="passwordConfirmation" name="password_confirmation" class="form-control" type="password" placeholder="Enter your password again" required />
            </div>

            <button type="submit" class="btn btn-dark d-block w-100 py-3 mb-4">Register</button>
        </div>
    </form>

    <div class="d-flex justify-content-center mb-4">
        <span class="text-muted">Already have an account? </span>
        <a class="nav-link text-primary border-bottom border-primary ms-2 p-0" href="">Login account</a>
    </div>
</div>
{% endblock %}