
{% extends 'base.html' %}

{% block title %}PhoneBuddy - Register {% endblock %}

{% block main %}
<div class="m-auto py-5" style="min-width: 500px;">
    <form action="" method="POST">
        <div>
            <h2 class="text-center fw-bold fs-1 mb-4 p-0 m-0">Reset Password</h2>

            <h3 class="text-center fw-light mb-4">Enter a new password</h3>

            

             <div class="form-floating mb-4">
                <label for="password">Password</label>
                <input id="password" name="password" class="form-control" type="Password" placeholder="Enter your New password" required />
            </div>

            <div class="form-floating mb-4">
                <label for="passwordConfirmation">Confirm password</label>
                <input id="passwordConfirmation" name="password_confirmation" class="form-control" type="password" placeholder="Enter your New password again" required />
            </div>

            <button type="submit" class="btn btn-dark d-block w-100 py-3 mb-4">Reset</button>
        </div>
    </form>

   
</div>
{% endblock %}