{% extends 'base.html' %}

{% block main %}

<style>
    .right{
        position: absolute;
        right: 0;
    }
</style>

<main class="position-relative">
    <div class="container">
        <h1 class="fw-bold text-center my-4">Smartphone</h1>
        <form action="/search" method="POST">
            <div class="mb-5 d-flex position-relative">
                <!-- Search -->
                <div class="input-group w-50 mx-auto">
                    <input class="form-control py-2" placeholder="Search for smartphone" name="search" id="search"/>
                    <button type="submit" class="btn btn-secondary text-muted">Search</button>
                </div>

                <div class="dropdown right">
                    <select id="sortDropdown" class="btn btn-secondary dropdown-toggle text-muted" data-bs-toggle="dropdown" aria-expanded="false" name="sort">
                        <option value="low">
                            Lowest Price
                        </option>
                        <option value="high">
                            Highest Price
                        </option>
                    </select>
                </div>
            </div>
        </form>

        <!--Display All Smartphone-->
        <div class="d-flex">
            {% for smartphone in smartphones %}
            {% if smartphone %}
            <div class="row row-cols-4 mb-5">
                <div class="card mr-5" style="width: 20rem;">
                    <a href="{{ url_for('smartphonedetail', id=smartphone['id']) }}">
                        <img src="{{ url_for('static',filename = smartphone['image_URL']) }}" class="card-img-top" style="height: 250px;">
                    </a>
                    <div class="card-body">
                        <a href="{{ url_for('smartphonedetail', id=smartphone['id']) }}">
                            <h5 class="card-title">{{ smartphone['model'] }}</h5>
                        </a>
                        <div class="mt-5 d-flex justify-content-between">
                            <p class="text-muted">{{ smartphone['brand'] }}</p>
                            <p class="fw-bold">{{ smartphone['lowprice'] }} - {{ smartphone['highprice'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
            </div>
            {% endif %}
            {% endfor %}
        </div>

        {% if searchsmartphones %}
        <!--Searched Result-->
        <div class="d-flex">
            {% for smartphone in searchsmartphones %}
            <div class="row row-cols-4 mb-5">
                <div class="card mr-5" style="width: 20rem;">
                    <a href="#">
                        <img src="{{ url_for('static',filename = smartphone['image_URL']) }}" class="card-img-top" style="height: 250px;">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h5 class="card-title">{{ smartphone['model'] }}</h5>
                        </a>
                        <div class="mt-5 d-flex justify-content-between">
                            <p class="text-muted">{{ smartphone['brand'] }}</p>
                            <p class="fw-bold">{{ smartphone['lowprice'] }} - {{ smartphone['highprice'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="mt-5 d-flex justify-content-center align-items-center flex-grow-1">
            <h4 class="display-5">No matched results.</h4>
        </div>
        {% endif %}
    </div>
</main>

{% endblock %}